.outline
{
	display:block;
}

.outline-container li
{
	cursor:default;
}
/*
.outline-container:not(:focus):not(.editing)
{
	opacity:.5;
}
 */
.outline-container ul
{
	padding-left:20px;
	background-repeat:no-repeat;
}

.outline-container ul.outline
{
	min-height:20px;
	margin-bottom:1px; /*Prevents scrollbar when last item is selected*/
}

/* Bullets */

.outline-container span.bullet
{
	cursor:pointer;
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:top;
	margin-left:-5px; /* This offsets the 5px padding-left on .line, which pads the text when it's multiline*/
	margin-right:2px;
	float:left; /* fixes a bug where pressing the home key on the first line does nothing. Not visually necessary */
	background-image:url('icons/empty.png');
}

.outline-container li:not(.open):not(.closed) > span.line > span.bullet > span:hover
{
	background-image:url('icons/add.png');
}

.outline-container span.bullet.droppable > span
{
	background-image:url('icons/add.png') !important;
}

.outline-container li.open > span.line > span.bullet
{
	background-image:url('icons/open.png');
}

.outline-container li.closed > span.line > span.bullet
{
	background-image:url('icons/closed.png');
}

.outline-container span.bullet > span
{
	display:inline-block;
	width:20px;
	height:20px;
	background-repeat:no-repeat;
}

/* Lines and Selection */

.outline-container span.line
{
	border-top-left-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	display:block;
	overflow:hidden;
	white-space:pre-wrap;
	padding-left:5px;
}

.outline-container li
{
	border-top-left-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
}

.outline-container li.collapsed > span.line
{
	white-space:pre;
	max-height:20px;
}

.outline-container:focus li.focus
{
	border:solid 1px hsl(220, 100%, 80%);
	border-right:none;
	margin:-1px 0 -1px -1px;
	position:relative;
	z-index:2;
}

.outline-container li.selected > span.line.editing, .outline-container li.selected > span.line.editing > span.tags
{
	background-color:#fff;
}

.outline-container li.selected > span.line.editing:hover, .outline-container li.selected > span.line.editing:hover > span.tags
{
	background-color:#fff;
}

.outline-container:focus li.selected > span.line, .outline-container:focus li.selected > span.line > span.tags
{
	background-color:hsl(220, 100%, 93%);
}

.outline-container:focus li.selected > span.line:hover, .outline-container:focus li.selected > span.line:hover > span.tags
{
	background-color:hsl(220, 100%, 90%);
}

.outline-container li.selected > span.line, .outline-container li.selected > span.line > span.tags
{
	background-color:hsl(0, 0%, 90%);
}

.outline-container li.selected > span.line.editing
{
	border:solid 1px hsl(220, 100%, 80%);
	border-right:none;
	margin:-1px 0 -1px -1px;
	position:relative;
	z-index:2;
}

.outline-container:focus li.focus > span.line
{
	border:solid 1px hsl(220, 100%, 80%);
	border-right:none;
	margin:-1px 0 -1px -1px;
	position:relative;
	z-index:2;
}

.outline-container span.line:hover, .outline-container span.line:hover > span.tags
{
	background-color:hsl(0, 0%, 95%);
}

.outline-container li.selected > span.line:hover, .outline-container li.selected > span.line:hover > span.tags
{
	background-color:hsl(0, 0%, 87%);
}

.outline-container:focus li.selected > span.line > span.collapsed-fadeout
{
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, hsla(220, 100%, 93%, 0)), color-stop(0.7, hsla(220, 100%, 93%, 1)));
}

.outline-container:focus li.selected > span.line:hover > span.collapsed-fadeout
{
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, hsla(220, 100%, 90%, 0)), color-stop(0.7, hsla(220, 100%, 90%, 1)));
}

.outline-container li.selected > span.line > span.collapsed-fadeout
{
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, hsla(0, 0%, 90%, 0)), color-stop(0.7, hsla(0, 0%, 90%, 1)));
}

.outline-container span.line:hover > span.collapsed-fadeout
{
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, hsla(0, 0%, 95%, 0)), color-stop(0.7, hsla(0, 0%, 95%, 1)));
}

.outline-container li.selected > span.line:hover > span.collapsed-fadeout
{
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, hsla(0, 0%, 87%, 0)), color-stop(0.7, hsla(0, 0%, 87%, 1)));
}

.outline-container li.dragging.selected > span.line:hover > span.collapsed-fadeout
{
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, hsla(220, 100%, 93%, 0)), color-stop(0.7, hsla(220, 100%, 93%, 1)));
}

.outline-container li.dragging > span.line:hover > span.collapsed-fadeout
{
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(0.7, hsla(0, 0%, 100%, 1)));
}

/* Text */

.outline-container li.focus > span.line > span.text.empty
{
	min-width:10px;
	display:inline-block;
}

.outline-container li.focus > span.line > span.text
{
	cursor:text;
	outline:none;
}

.outline-container li.focus.collapsed > span.line > span.text[contenteditable]
{
	word-wrap:normal !important;
}

.outline-container ul.moving li.selected > span.line > span.text
{
	cursor:move;
}

/* Dragging */

.outline-container li.dragging
{
	opacity:.5;
}

.outline-container li.dragging.selected > span.line:hover, .outline-container li.dragging.selected > span.line:hover > span.tags
{
	background-color:hsl(220, 100%, 93%);
}

.outline-container li.dragging > span.line:hover
{
	background-color:transparent;
}

.outline-container li.dragging > span.line:hover > span.tags
{
	background-color:hsl(0, 0%, 100%);
}

/* Inserting */

.outline-container ul.inserting
{
	cursor:pointer;
	background-image:url('icons/insert.png');
}

.outline-container ul.inserting.top
{
	background-image:url('icons/insert top.png');
}

.outline-container ul.inserting.bottom
{
	background-image:url('icons/insert bottom.png');
}

/* Moving */

.outline-container ul.moving.child-dropping
{
	background-image:none !important;
}

.outline-container ul.moving
{
	background-image:url('icons/move.png');
	cursor:move;
}

.outline-container ul.moving.top
{
	background-image:url('icons/move top.png');
}

.outline-container ul.moving.bottom
{
	background-image:url('icons/move bottom.png');
}

.outline-container ul.moving  li
{
	cursor:move;
}

.outline-container ul.moving span.bullet
{
	cursor:move;
}

.outline-container ul.moving span.bullet.droppable
{
	cursor:default;
}

/* Ellipsis */

.outline-container li.collapsed > span.line > span.collapsed-fadeout
{
	display:inline-block;
}

.outline-container span.ellipsis
{
	background-image: url('icons/ellipsis.png');
	background-repeat:no-repeat;
	background-position:right center;
	display:inline-block;
	height:100%;
	width:100%;
}

.outline-container span.collapsed-fadeout
{
	width:60px;
	height:20px;
	float:right;
	display:none;
	position:relative;/*this makes it render above the element it's floated to the right of*/
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(0.7, hsla(0, 0%, 100%, 1)));
}

/* Tags */

.outline-container span.tags
{
	/*display:none;*/
	padding-right:2px; /*need to adjust min-width to account for this once tags are finished*/
	background-color:#fff;
}

.outline-container span.tags
{
	float:right;
	position:relative;
}

.outline-container .test-tag
{
	display:inline-block;
	height:20px;
	width:20px;
	background-image:url('icons/star.png');
	background-position:2px 2px;
	background-repeat:no-repeat;
	vertical-align:top;
}

.outline-container .test-tag2
{
	-webkit-box-shadow:1px 1px 1px hsla(0, 0%, 0%, .5), inset 1px 1px 1px hsla(0, 0%, 0%, .5);

	color:#600;
	font-size:75%;
	text-align:center;
	line-height:16px;
	background-color:#faa;
	border:solid 1px #eee;/*#900;*/
	border-radius:4px;
	display:inline-block;
	height:16px;
	margin:1px;
	padding:0 1px 0 1px;
	vertical-align:top;
}

/* Line Numbers */

.outline-container.line-numbers span.line-number
{
	font-size:8px;
	content: counter(index);
	float:left;
	text-align:right;
	direction:rtl;
	width:0;
	cursor:pointer;
	left:-2px;
	position:relative;
	color:#666;
}

.outline-container.line-numbers span.line-number:before
{
	content: counter(index);
}

.outline-container.line-numbers li
{
	counter-increment:index;
}

.outline-container.line-numbers ul
{
	counter-reset:index;
}

/* Guidelines */

.outline-container.guidelines li > ul
{
	border-radius:10px;
	border-left:solid 1px #ccc;
	margin-left:-1px;
}

.outline-container:focus li.focus > ul
{
	border-left:none;
	margin-left:0;
}